<% if (status == "Upcoming" && @upcoming_camps.empty? == false) || (status == "Past" && @past_camps.empty? == false) %>
  
  <% if logged_in? %>
    <h3><%= status %> Camps</h3>
  <% else %>
    <h2><%= status %> Camps</h2>
  <% end %>

  <% if logged_in? && current_user.role == "admin" %>
    <% if (status == "Upcoming") %>
      <%= link_to "Add a New Camp", new_camp_path, class: "button tiny radius" %>
    <% end %>
  <% end %>

  <br></br>
  <table class="table">
    <tr>
      <th width="175">Name</th>
      <th width="120">Start On</th>
      <th width="120">Time</th>
      <% if status == "Upcoming" %>
        <th width="140">Availibility</th>
      <% end %>
      <th></th>
    </tr>

  <% camps.each do |camp| %>
    <tr>
      <td><%= link_to camp.name, camp_path(camp) %></td>
      <td align="center"><%= camp.start_date.strftime('%m/%d/%y') %></td>
      <td align="center"><%= camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
      <% if status == "Upcoming" %>
        <% if camp.registrations.size < camp.max_students %>
          <td align="center">Available</td>
        <% else %>
          <td align="center">Full</td>
        <% end %>
      <% end %>
      <% if logged_in? && current_user.role == "admin" %>
        <td><%= link_to 'Edit', edit_camp_path(camp), class: "button tiny radius" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <!-- Add the pagination using will_paginate gem -->
  <span class="paginate">
  <%= will_paginate camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>

<% end %>