<div class="panel clearfix">

  <h3>Camp Details</h3><br />

  <div class="availability">
    <% unless @camp.active == false || @registrations.size >= @camp.max_students %>
      <% if @registrations_remaining == 1 %>
        <strong>Available for Registration: <%= @registrations_remaining %> Spot Left! </strong><br /><br />
      <% else %>
        <strong>Available for Registration: <%= @registrations_remaining %> Spots Left! </strong><br /><br />
      <% end %>
    <% end %>
  </div>

  <div class="unavailability">
    <% if @camp.active == true && @registrations.size >= @camp.max_students %>
      <strong>No Remaining Registrations Available: Camp is Full</strong><br /><br />
    <% end %>
  </div>

  <strong>Name:&nbsp;&nbsp;</strong> 
    <%= link_to @camp.name, curriculum_path(@camp.curriculum) %><br /><br />

  <strong>Location:&nbsp;&nbsp;</strong> 
    <%= link_to @camp.location.name, location_path(@camp.location) %><br /><br />  

  <strong>Cost:&nbsp;&nbsp;</strong> 
    <%= number_to_currency(@camp.cost) %><br /><br />

  <strong>Max Students:&nbsp;&nbsp;</strong> 
    <%= @camp.max_students %><br /><br />

  <strong>Dates:&nbsp;&nbsp;</strong> 
    <%= @camp.start_date.strftime('%m/%d/%y') %> 
    <% if @camp.start_date != @camp.end_date %>
      <%= "- #{@camp.end_date.strftime('%m/%d/%y')}" %>
    <% end %>
    <br /><br />

  <strong>Time:&nbsp;&nbsp;</strong> 
    <%= @camp.time_slot == "am" ? "Morning" : "Afternoon" %><br /><br />

  <strong>Active?&nbsp;&nbsp;</strong>
    <%= @camp.active ? "Yes" : "No" %><br /><br />

</div>


<% unless @instructors.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Camp Instructors</h5>
    <ul class="side-nav">
      <% @instructors.each do |instructor| %>
        <li><%= link_to instructor.name, instructor_path(instructor) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>No Instructors</h5>
  </div>
<% end %>

<% if logged_in? && current_user.role == "admin" %>
  <%= link_to "Edit this Camp", edit_camp_path(@camp), class: "button tiny radius" %>&nbsp;&nbsp;
  <%= link_to 'Destroy Camp', camp_path(@camp), data: { confirm: 'Are you sure you want to permanently remove this camp from the system?' }, method: :delete, class: "button tiny radius alert" %>
<% end %>