<div class="panel clearfix">
	<% unless @registrations.empty? %>
		<h3>Financial Information for the <%= @family.family_name %> Family</h3>

		<table class="table">
			<tr>
		    	<th>Student Name</th>
		    	<th>Camp Attended</th>
		    	<th>Payment Status</th>
		    	<th>Balance Due</th>
		  	</tr>

			<% @registrations.each do |registration| %>
			  	<tr>
			    	<td><%= link_to registration.student.name, student_path(registration.student) %></td>
			    	<td><%= link_to registration.camp.name, camp_path(registration.camp) %></td>
			    	<td align="center"><%= registration.payment_status %></td>
			    	<% if registration.payment_status == "deposit" %>
			    		<td align="center"><%= number_to_currency(registration.camp.cost - 50) %></td>
			    	<% else %>
			    		<td align="center">Paid</td>
			    	<% end %>
			  	</tr>
			<% end %>
		</table>
		<strong>Total Received: </strong><%# number_to_currency(@total_payments_received) %><br />
		<strong>Total Balances Due: </strong><%# number_to_currency(@total_balances_due) %><br />

	<% else %>
		<h5>No Financial Information Available for the <%= @family.family_name %> Family.</h5>
	<% end %>
</div>