<% if logged_in? %>
  <h3>Active Instructors</h3>
<% else %>
  <h2>Instructors</h2>
<% end %>

<% if logged_in? && current_user.role == "admin" %>
  <%= link_to "Add a New Instructor", new_instructor_path, class: "button tiny radius" %>
<% end %>

<br></br>
<table class="table">
  <tr>
    <th width="200">Name</th>
    <% if logged_in? %>
      <th width="150">Phone</th>
      <% if current_user.role == "admin" %>
        <th width="100">Camps</th>
        <th></th>
      <% end %>
    <% end %>
  </tr>

<% @active_instructors.each do |instructor| %>
  <tr>
    <td><%= link_to instructor.name, instructor_path(instructor) %></td>
    <% if logged_in? %>
      <td align="center"><%= number_to_phone instructor.phone %></td>
      <% if current_user.role == "admin" %>
        <td align="center"><%= instructor.camps.size %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor), class: "button tiny radius" %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
