<div class="fields">
  <div class="min_user">
    <%= f.input :instructor_id, as: :hidden, input_html: { value: @instructor.id } %>
    <%= f.input :username %>

    <%= f.input :password %>
    <%= f.input :password_confirmation, label: "Confirm Password" %>

    <%= f.input :role, :collection => User::ROLES, prompt: "Select Role..." %>
    <%= f.input :active %>
  </div>
</div>