<h3>Registration Details</h3><br />

<strong>Student:&nbsp;&nbsp;</strong> 
  <%= link_to @registration.student.proper_name, student_path(@registration.student) %><br /><br />

<strong>Camp:&nbsp;&nbsp;</strong> 
  <%= link_to @registration.camp.name, camp_path(@registration.camp) %><br /><br />

<strong>Payment Status:&nbsp;&nbsp;</strong> 
  <%= @registration.payment_status %><br /><br />

<strong>Points Earned:&nbsp;&nbsp;</strong> 
  <%= @registration.points_earned %><br /><br />



<%= link_to "Edit This Registration", edit_registration_path(@registration), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy Registration', registration_path(@registration), data: { confirm: 'Are you sure you want to permanently remove this registration from the system?' }, method: :delete, class: "button tiny radius alert" %>