<!-- GUEST HOME PAGE -->
<% if logged_in?.nil? %>
	<div class="row">
		<div class="small-7 columns">
	    	<!-- MAIN CONTENT GOES HERE -->
	    	<%= render :partial => "welcome" %>
	    	<br /><br /><br /><br /><br /><br />
	    	<%= render partial: 'testimonials' %>
	  	</div>

	  	<div class="small-5 columns">
	    	<!-- SIDEBAR CONTENT GOES HERE -->
	    	<%= render :partial => "available_camps" %>
	    	<%= image_tag 'TaylorAlllerdiceTourney.JPG', class: "center", width: "400" %>
	  	</div>
	</div>
<% end %>

<!-- ADMIN HOME PAGE -->
<% if logged_in? && current_user.role == "admin" %>
	<div class="row">
		<div class="small-7 columns">
	    	<!-- MAIN CONTENT GOES HERE -->
	    	<h1><%= current_user.instructor.first_name %>'s Admin Dashboard</h1>
	    	<%= render :partial => "instructors/upcoming_camps" %>
	    	<br />
	    	<%# render partial: 'upcoming_students' %>
	    	<%= render :partial => "instructors/instructor_details" %>
	  	</div>

	  	<div class="small-5 columns">
	    	<!-- SIDEBAR CONTENT GOES HERE -->
	    	<% unless @empty_camps.empty? %>
	    		<%= render :partial => "empty_camps" %>
	    		<br />
	    	<% end %>
	    	<% unless @instructorless_camps.empty? %>
	    		<%= render :partial => "instructorless_camps" %>
	    		<br />
	    	<% end %>
	    	<% unless @registrationless_students.empty? %>
	    		<%= render :partial => "registrationless_students" %>
	    		<br />
	    	<% end %>
	    	<%= render :partial => "available_camps" %><br />
	  	</div>
	</div>
<% end %>

<!-- INSTRUCTOR HOME PAGE -->
<% if logged_in? && current_user.role == "instructor" %>
	<div class="row">
		<div class="small-7 columns">
	    	<!-- MAIN CONTENT GOES HERE -->
	    	<h1><%= current_user.instructor.first_name %>'s Dashboard</h1>
	    	<%= render :partial => "instructors/upcoming_camps" %>
	    	<br />
	    	<%= render :partial => "instructors/instructor_details" %>
	  	</div>

	  	<div class="small-5 columns">
	    	<!-- SIDEBAR CONTENT GOES HERE -->
	  		<%= render partial: 'upcoming_students' %>
	  	</div>
	</div>
<% end %>